<a href="https://colab.research.google.com/github/anupsalim/Python-Basics/blob/main/first.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print(r"c:\n\anu")

c:\n\anu

In [5]:
print('Anu \'s "laptop"')

Anu 's "laptop"

In [6]:
x = 5
y = 10
print(f"The value of {x} and {y} is {x+y}")

The value of 5 and 10 is 15

In [7]:
firstName = "Anu"
secName = "Vivek"
print("The first name is {} and the second name is {}".format(firstName,secName))

The first name is Anu and the second name is Vivek

In [9]:
print("Anu's",'"Laptop"')

Anu's "Laptop"

In [10]:
print("Anu's", end = " ")
print('"Laptop"')

Anu's "Laptop"

In [11]:
print('Anu \'s "laptop"')

Anu 's "laptop"

In [13]:
x = input("Enter name")
print(f"Your name is {x}")

Enter nameAnu
Your name is Anu

In [19]:
x = 3 +2j
type(x)

complex

In [20]:
2 + 3

5

In [23]:
5 // 3

1

In [24]:
5 / 3

1.6666666666666667

In [25]:
5 % 2

1

In [26]:
5 ** 2

25

In [27]:
x = 10
y = 5
x + y

15

In [28]:
x = 10
y = 7
print(f"The difference is {x-y}")

The difference is 3

In [29]:
x = 10
y = 7
print(f"The sum is {x+y}")
print(f"The difference is {x-y}")
print("The product is ", x * y)
print("The {}th power of {} is {}".format(y,x,x**y))
print("The quotient of {} and {} is {}".format(x,y,x//y))
print(f"The reminder of {x} and {y} is {x+y}")

The sum is 17
The difference is 3
The product is  70
The 7th power of 10 is 10000000
The quotient of 10 and 7 is 1
The reminder of 10 and 7 is 17

In [39]:
num1 = input("Enter the first number")
num2 = input("Enter the second number")
#a = int(num1)
#b = int(num2)
add = a + b
print("The sum is ",add)

Enter the first number67
Enter the second number89
The sum is  128

In [2]:
num1 = int(input("Enter the first number"))
num2 = int(input("Enter the second number"))
add = num1 + num2
print("The sum is ", add)

Enter the first number10
Enter the second number50
The sum is  60

In [4]:
name = "Python"
print(name[5])

n

In [11]:
print(name[0:2])

Py

In [17]:
import string
tem = input("Enter a string: ")
print(tem.isdigit())

Enter a string: 9846098460
9846098460
True

Comparison Operators or relational operator - <,>,<=,>=,!=,==

In [23]:
x = 20
y = 20
x != y

False

logical operator: and, or, not

In [26]:
x > 12 or x < y

True

bitwise operator - &, |, ~, <<, >>

In [31]:
7 << 1

14

Membership Operator

In [33]:
'y' in 'xmas'

False

identity operator

In [36]:
x = 20
y = 20
x is y

True

List

In [104]:
lt = [1,2,3,4,5,6,7,8,9,10,1,1,2,[2,4]]
lt.append(5)
lt.count(1)
lt.extend([11,12,13])
#print(lt)
#print(lt.count(10))
#lt[5] = 100
#lt.index(100)
#lt.insert(5,2000)
#lt[::-1]
#lt.pop()
#lt.remove(2000)
#lt.reverse()
#lt.sort()
print(lt[13][1])
lt

4

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 1, 2, [2, 4], 5, 11, 12, 13]

Tuple

In [93]:
a = {1,2,3,4,5}
b = {4,5,6,7,8}
a[3]=6

TypeError: 'set' object does not support item assignment

Dictionary

In [106]:
dic = {'python':'anu','java':'anju',3:'binu','c++':'cinu'}
dic['java'] ='dinu'
dic.()

dict_values(['anu', 'dinu', 'binu', 'cinu'])